$width: 80%;
$primary-color: #009999;
$gray-color: #9b9b9b;
$white-color: #FFFFFF;
$black-color: #000000;
$gray-secondary-color: #eeeeee;
$gray-tetiary-color: #dddddd;
$bg-secondary: #f2f2f2;
$bg-gradient: linear-gradient(123.06deg, #1acece 18.85%, #229e9e 76.93%);

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
