@import "./config/variables.scss";
@import "./config/mixins.scss";

.darkmode--activated {
  .hero--head,
  .latestnews h3,
  .latestnews h4,
  .latestnews p,
  .hero3 span,
  .news-page h4,
  .news-page p,
  .news-page a,
  .navbar .links--link,
  .hamburger-menu,
  .hamburger-menu:hover {
    color: $gray-tetiary-color;
  }
  .footer--description {
    color: $black-color;
  }
  .hero4 {
    background: $bg-gradient;
  }
  .news div:hover {
    background: $black-color;
  }
  @include respond-below(md) {
    .links {
      background: $black-color;
    }
  }
  .paper:nth-of-type(even) {
    color: $white-color;
  }
}
