@import "./config/variables.scss";

dd {
  margin-bottom: 1rem;
}
dt {
  cursor: pointer;
}
.icon {
  margin: 1px 1rem 1px 1px;
  color: $primary-color;
}
#faqlist {
  min-height: 25em;
}

.slide-up,
.slide-down {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
}

.slide-down {
  max-height: 25em;
}
