@import "./config/variables.scss";

footer {
  //background: #f2f2f2;
  color: #9b9b9b;
  padding: 1rem 0;
  margin-top: 2rem;
  .footer--container {
    width: $width;
    margin: 1rem auto;
    .footer--description {
      font-size: 0.9rem;
      span {
        color: $primary-color;
      }
    }
    hr {
      border: 1px solid #ccc;
    }
    .footer--copyright {
      color: #000;
    }
  }
}
