@import "./config/variables.scss";

.hero4 {
  background: $bg-gradient;
  &--wrapper {
    width: $width;
    margin: 0 auto;
  }
  .quote {
    padding: 6rem 0 2rem 0;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
  }
  .quoter {
    padding-bottom: 6rem;
    font-size: 20px;
    color: #ffffff;
  }
}
