@import "./config/variables.scss";

.hero3 {
  display: flex;
  justify-content: space-between;
  width: $width;
  margin: 5rem auto 5rem auto;
  div {
    display: flex;
    flex-direction: column;
    .hero3-num {
      font-size: 40px;
      font-weight: bold;
    }
    .hero3-text {
      margin-top: 1rem;
      font-size: 22px;
    }
  }
}
