@import "./config/variables.scss";
@import "./config/mixins.scss";

.latestnews {
  display: block;
  background: $bg-secondary;
  margin: 0;
}
.wrapper {
  width: $width;
  margin: 2rem auto;
  padding: 1rem;
}

.header {
  font-weight: 700;
  font-size: 1.5rem;
}

.news {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  @include respond-below(md) {
    flex-direction: column;
  }
  div {
    flex: 1;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    &:hover {
      background: #ddd;
    }
  }
}
