@import "./config/variables.scss";
@import "./font.scss";
@import "./html5.scss";
@import "./darkmode.scss";
@import "./config/mixins.scss";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Space Grotesk", monospace, sans-serif;
}
main {
  margin: 0;
}
.marginPadded {
  width: $width;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  @include respond-below(sm) {
    flex-direction: column;
  }
  .sidebar {
    width: 30%;
    flex: 1;
    @include respond-below(sm) {
      width: 100%;
    }
  }
  div {
    flex: 3;
  }
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $primary-color;
}
mark {
  background: $white-color;
  border-bottom: 2px solid $primary-color;
}

.darkmode-toggle {
  color: $white-color;
  z-index: 9999999;
}
