@import "./config/variables.scss";
@import "./config/mixins.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  width: $width;
  margin: 2rem auto;
  .logo {
    &--title {
      font-size: 1.5rem;
      line-height: 1rem;
      font-weight: bolder;
      a {
        text-decoration: none;
        color: $black-color;
        border-bottom: 0;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9999;
    @include respond-below(md) {
      display: block;
      cursor: pointer;
      line-height: 1rem;
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .links {
    display: flex;
    @include respond-below(md) {
      &.hide {
        display: none;
      }
      flex-direction: column;
      font-weight: bold;
      font-size: 30px;
      position: fixed;
      background: $white-color;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9998;
      padding-top: 5rem;
      padding-left: 1rem;
    }
    &--link {
      color: $black-color;
      text-decoration: none;
      margin-right: 1rem;
      border-bottom: 0;
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .link-active {
    font-weight: bold;
    border-bottom: 1px solid $primary-color;
  }
}
