@import "./config/variables.scss";
@import "./config/mixins.scss";

.notice {
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include respond-below(md) {
    flex-direction: column;
    align-items: unset;
  }
  a {
    text-decoration: none;
    border-bottom: 0;
    display: block;
  }
  &--action {
    font-family: inherit;
    font-size: 1em;
    width: 100%;
    text-decoration: none;
    border: 2px solid $primary-color;
    border-radius: 10px;
    padding: 0.5em;
    color: $white-color;
    background: $primary-color;
  }
}
